@import './styles/hamburger.css';
@import './styles/loader.css';
@import './styles/calendar.css';
@import './styles/header.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ubuntu', sans-serif;
    color: #022959;
    background-color: #EFF5FF;
    min-height: 100dvh;
    height: 100dvh;
    max-height: fit-content;
}
