@import './styles/hamburger.css';
@import './styles/loader.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Sans Pro', 'sans-serif';
    background-color: #f8f9fa;
    min-height: 100vh;
}
